.card {
  width: 100%;
  display: grid;
  grid-row-gap: 0.4em;
  grid-template-rows: minmax(258px, auto) 3em;
  position: relative;
  overflow: hidden;
  .figure {
    width: 100%;
    height: 100%;
    display: inherit;
    border-radius: 0.2em;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .details {
    width: 100%;
    display: grid;
    overflow: hidden;
    align-items: center;
    grid-template: repeat(2, 1fr) / 1fr 3em;
    span,
    .title {
      font-weight: 700;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    span {
      font-size: 12px;
      font-weight: normal;
    }
    .rating {
      width: 100%;
      height: 100%;
      grid-row: 1 / 3;
      grid-column: 2 / 3;
      font-size: 1em;
    }
  }
}
