.category {
  margin: 4em 0 0;
  position: relative;
  &__name {
    margin: 0 0 20px;
    line-height: 1.15;
    text-transform: capitalize;
  }
  &__grid {
    display: grid;
    position: relative;
    grid-gap: 2em 0.5em;
    grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
  }
  @media (max-width: 376px) {
    &__name {
      font-size: 1.2em;
    }
  }
}
