.category {
  position: relative;
  min-height: calc(100vh - 157px);
  &__name {
    margin: 0 0 20px;
    padding: 8px 0 0;
    line-height: 1.15;
    text-transform: capitalize;
  }
  &__grid {
    display: grid;
    position: relative;
    grid-gap: 2em 0.5em;
    grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
  }
  @media (max-width: 576px) {
    min-height: calc(100vh - 182px);
    &__name {
      font-size: 1.5em;
    }
  }
}
