.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2em 0 1em;
  &__logo {
    flex: 1;
    .link {
      font-size: 2.1em;
      font-family: "Modak";
    }
  }
  &__social {
    display: grid;
    grid-gap: 0 2.5em;
    align-items: center;
    justify-items: center;
    grid-template: 3em / repeat(4, 3em);
  }
  &__copyright {
    margin: 0;
    width: 100%;
  }
  @media (max-width: 576px) {
    &__social {
      width: 100%;
      margin: 0 0 1em;
      grid-template: 2em / repeat(4, 2em);
    }
  }
}
