@function card($num) {
  $calc: percentage(1 / $num);
  @return $calc - 0.08 * ($num - 1);
}

.listing {
  margin: 1em 0 0;
  padding: 0 0 1em;
  box-sizing: border-box;
  border-bottom: 1px solid var(--line);
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0.8em;
    .title {
      margin: 0;
    }
  }
  &__cover {
    overflow: hidden;
    position: relative;
  }
  &__items {
    display: grid;
    grid-gap: 0 0.5em;
    grid-template-rows: minmax(310px, auto);
    grid-template-columns: repeat(20, card(7));
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: auto;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(20, card(5));
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(20, card(4));
    }
    @media (max-width: 576px) {
      grid-template-columns: repeat(20, card(2));
    }
    @media (max-width: 320px) {
      grid-template-columns: repeat(20, 100%);
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
