@import "./category.scss";
@import "./details.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./home.scss";
@import "./card.scss";

:root {
  --line: #222;
  --link: #ccc;
  --color: #000;
}

body {
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color);
}

a:link,
a:visited {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

.wrapper,
.container {
  margin: auto;
  padding: 0 1em;
  display: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  justify-content: inherit;
  box-sizing: border-box;
  max-width: 1376px;
  height: inherit;
  flex: 1;
}

.progress {
  display: grid;
  overflow: hidden;
  position: relative;
  max-width: 80px;
  max-height: 80px;
  .value {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: inherit;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
  }
  svg {
    transform: rotate(-90deg);
    circle {
      fill: transparent;
      stroke: rgba(34, 34, 34, 1);
      stroke-dasharray: 300;
      stroke-width: 10;
    }
    circle:last-child {
      stroke: rgba(60, 180, 110, 1);
      stroke-linecap: round;
      stroke-width: 8;
    }
  }
}

.loader {
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  &::after {
    content: "";
    width: 80px;
    height: 80px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/loading.svg");
  }
}

.logo {
  width: 98px;
  height: 25px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/figure.svg");
}

@mixin icon {
  width: 24px;
  height: 24px;
  display: inline-flex;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon {
  &__github {
    @include icon;
    background-image: url("../img/github.svg");
  }
  &__linkedin {
    @include icon;
    background-image: url("../img/linkedin.svg");
  }
  &__twitter {
    @include icon;
    background-image: url("../img/twitter.svg");
  }
  &__email {
    @include icon;
    background-image: url("../img/email.svg");
  }
  &__more {
    @include icon;
    background-image: url("../img/more.svg");
  }
}
