<!DOCTYPE html>
<html lang="en">
<%- include('templates/head', {title: 'Category' }); %>

  <body>
    <%- include('templates/nav'); %>
      <main class="category">
        <div class="container">
          <h1 class="category__name" id="name"></h1>
          <div class="category__grid" id="root">
            <!-- append movie list -->
          </div>
        </div>
      </main>
      <script src="/script/category.js" type="module"></script>
  </body>

</html>