<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Category</title>
</head>

<body>
  <main class="category">
    <div class="container">
      <h1 class="category__name" id="name"></h1>
      <div class="category__grid" id="root">
        <!-- append movie list -->
      </div>
    </div>
  </main>
  <script src="/script/category.js" type="module"></script>
</body>

</html>