<!DOCTYPE html>
<html lang="en">
<%- include('templates/head', {title: 'Details' }); %>

  <body>
    <%- include('templates/nav'); %>
      <%- include('templates/footer'); %>
        <script src="/script/details.js" type="module"></script>
  </body>

</html>