<!DOCTYPE html>
<html lang="en">
<%- include('templates/head', {title: 'Details' }); %>

  <body>
    <%- include('templates/nav'); %>
      <main class="details">
        <section class="hero">
          <div class="hero__cover">
            <div class="container">
              <div class="hero__content">
                <img src="https://yts.mx/assets/images/movies/custody_2017/large-cover.jpg" alt="movie">
                <div class="data">
                  <h1>welcome</h1>
                  <div><strong>Year:</strong> 2020</div>
                  <div><strong>Language:</strong> fr</div>
                  <div><strong>Runtime:</strong> 1h 23min</div>
                  <div><strong>Runtime:</strong> 1h 23min</div>
                  <div><strong>Genres:</strong> 1h 23min</div>
                </div>
              </div>
              <div class="hero__player">

              </div>
            </div>
          </div>
        </section>
      </main>
      <%- include('templates/footer'); %>
        <script src="/script/details.js" type="module"></script>
  </body>

</html>