.category {
  position: relative;
  min-height: calc(100vh - 12em);
}
.category__name {
  margin: 0 0 20px;
  padding: 8px 0 0;
  line-height: 1.15;
  text-transform: capitalize;
}
.category__grid {
  display: grid;
  position: relative;
  grid-gap: 2em 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
}
@media (max-width: 576px) {
  .category {
    min-height: calc(100vh - 14em);
  }
  .category__name {
    font-size: 1.5em;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2em 0 1em;
}
.footer__social {
  flex: 1;
  display: grid;
  grid-gap: 0 2.5em;
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  grid-template: 3em/repeat(4, 3em);
}
.footer__copyright {
  margin: 0;
  width: 100%;
}
@media (max-width: 576px) {
  .footer__social {
    flex: initial;
    width: 100%;
    margin: 0.5em 0;
    justify-content: flex-start;
    grid-template: 2em/repeat(4, 2em);
  }
}

.listing {
  margin: 1em 0 0;
  padding: 0 0 1em;
  box-sizing: border-box;
  border-bottom: 1px solid var(--line);
}
.listing__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0.8em;
}
.listing__head .title {
  margin: 0;
}
.listing__cover {
  overflow: hidden;
  position: relative;
}
.listing__items {
  display: grid;
  grid-gap: 0 0.5em;
  grid-template-rows: minmax(310px, auto);
  grid-template-columns: repeat(20, calc(calc(100% - 0.5em * 6) / 7));
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-x: auto;
}
@media (max-width: 1024px) {
  .listing__items {
    grid-template-columns: repeat(20, calc(calc(100% - 0.5em * 4) / 5));
  }
}
@media (max-width: 768px) {
  .listing__items {
    grid-template-columns: repeat(20, calc(calc(100% - 0.5em * 3) / 4));
  }
}
@media (max-width: 576px) {
  .listing__items {
    grid-template-columns: repeat(20, calc(calc(100% - 0.5em * 1) / 2));
  }
}
@media (max-width: 320px) {
  .listing__items {
    grid-template-columns: repeat(20, 100%);
  }
}
.listing__items::-webkit-scrollbar {
  display: none;
}

.card {
  width: 100%;
  display: grid;
  grid-row-gap: 0.4em;
  grid-template-rows: minmax(258px, auto) 3em;
  position: relative;
  overflow: hidden;
}
.card .figure {
  width: 100%;
  height: 100%;
  display: inherit;
  border-radius: 0.2em;
  position: relative;
  overflow: hidden;
}
.card .figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .details {
  width: 100%;
  display: grid;
  overflow: hidden;
  align-items: center;
  grid-template: repeat(2, 1fr)/1fr 3em;
}
.card .details span,
.card .details .title {
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card .details span {
  font-size: 12px;
  font-weight: normal;
}
.card .details .rating {
  width: 100%;
  height: 100%;
  grid-row: 1/3;
  grid-column: 2/3;
  font-size: 1em;
}

:root {
  --line: #eee;
  --link: #ccc;
  --color: #000;
}

body {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color);
}

a:link,
a:visited {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

main {
  margin: 3em 0 0;
  box-sizing: border-box;
}

.wrapper,
.container {
  margin: auto;
  padding: 0 1em;
  display: inherit;
  flex-wrap: inherit;
  align-items: inherit;
  justify-content: inherit;
  box-sizing: border-box;
  max-width: 1376px;
  height: inherit;
  flex: 1;
}

.progress {
  display: grid;
  overflow: hidden;
  position: relative;
  max-width: 80px;
  max-height: 80px;
}
.progress .value {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: inherit;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
}
.progress svg {
  transform: rotate(-90deg);
}
.progress svg circle {
  fill: transparent;
  stroke: rgba(240, 240, 240, 0.5);
  stroke-dasharray: 300;
  stroke-width: 10;
}
.progress svg circle:last-child {
  stroke: #3cb46e;
  stroke-linecap: round;
  stroke-width: 8;
}

.loader {
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.loader::after {
  content: "";
  width: 80px;
  height: 80px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/loading.svg");
}

.logo {
  width: 98px;
  height: 25px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/figure.svg");
}

.icon__github {
  width: 24px;
  height: 24px;
  display: inline-flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/github.svg");
}
.icon__linkedin {
  width: 24px;
  height: 24px;
  display: inline-flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/linkedin.svg");
}
.icon__twitter {
  width: 24px;
  height: 24px;
  display: inline-flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/twitter.svg");
}
.icon__email {
  width: 24px;
  height: 24px;
  display: inline-flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/email.svg");
}
.icon__more {
  width: 24px;
  height: 24px;
  display: inline-flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/more.svg");
}

/*# sourceMappingURL=styles.css.map */
