<footer class="footer">
  <div class="container">
    <div class="footer__logo">
      <a href="/" class="link">MUHD</a>
    </div>
    <div class="footer__social">
      <a href="https://github.com/LuisAlbertoI" class="icon__github"></a>
      <a href="https://co.linkedin.com/in/luisalbertoi" class="icon__linkedin"></a>
      <a href="https://twitter.com/LuisAlbertoIR" class="icon__twitter"></a>
      <a href="mailto:alberdj987@gmail.com" class="icon__email"></a>
    </div>
    <p class="footer__copyright">
      © 2020 Luis Alberto I. All Rights Reserved
    </p>
  </div>
</footer>