<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <meta name="description" content="Descubre tus peliculas favoritas">
  <meta property="og:description" content="Descubre tus peliculas favoritas">
  <meta property="og:title" content="MUHD">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://muhd.herokuapp.com/">
  <meta name="keywords" content="html, sass, javascript">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="shortcut icon" href="/img/favicon.svg" type="image/svg">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
</head>